@section locationselectorsection {
    <link href="@Url.Content("/css/summary-style.css")" rel="stylesheet" type="text/css" />
}

<div class="bg">
    <div class="row inner-frame">
        <div class="column">
        </div>
        <div class="column">
            <button class="flow-button btn btn-primary" onclick="location.href = '@Url.Action("Start", "Frontpage")'">Close</button>
        </div>

    </div>
    <img class="bottom-logo" src="/images/telstar_logo.PNG" />
</div>