
.container {
    height: 100%;
    position: relative;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 25%;
    left: 36%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.frontpage-button {
    width: max-content;
    background-color: black;
    border-color: black;
    align-self: center;
    font-size: 18px;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 30%;
    padding-right: 30%;
    opacity: 0.93;
}

h1 {
    padding-top: 7%;
    font-size: 70px;
    color: white;
    text-shadow: 5px 5px black;
    top: 15%;
    font-weight: bold;
    opacity: 1;
}
