.input-label {
    height: 35px;
    width: 120px;
    background-color: lightgray;
    float: left;
    text-align: center;
    opacity: 1;
}

.input-label-recommended {
    height: 35px;
    width: 170px;
    background-color: lightgray;
    float: left;
    text-align: center;
    opacity: 1;
}

.input-label-weapons {
    height: 115px;
    width: 170px;
    background-color: lightgray;
    float: left;
    text-align: center;
    opacity: 1;
}

.radio-btn {
    max-width: 120px;
    opacity: 1;
}

p {
    margin-top: 6px;
    font-size: 15px;
    opacity: 1;
}

.input-field {
    max-width: 180px;
    opacity: 1;
}
